  <div class="col-md-3">
    <div class="row social-media visible-lg visible-md">
      <a href="https://www.facebook.com/UNEMAT.CATI" target="_blank" class="col-md-6"><i class="icon-facebook"></i></a>
      <a href="https://www.twitter.com/catibbg" target="_blank" class="col-md-6"><i class="icon-twitter"></i></a>
    </div>

    <div class="twitter-widget visible-lg visible-md">
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23CATI2013" data-widget-id="385667287438487553">Tweets sobre "#CATI2013"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </div>
