    <div class="row sponsors">
        <h4>Patrocinadores</h4>
        <!-- <div class="col-md-9"> -->
            <img src="<?php echo $this->webroot; ?>img/sponsors/grupobarralcool_opt.png" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/gazin_opt.png" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/zeus_opt.png" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/minhoca_opt.png" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/cna_opt.png" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/top_bar_opt.png" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/agua_de_cheiro_opt.png" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/junqueira_materiais_opt.jpg" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/carol_supermercado_opt.jpg" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/posto_3_opt.jpg" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/delicia_opt.jpg" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
            <img src="<?php echo $this->webroot; ?>img/sponsors/camara_opt.jpg" class="col-md-3 col-xs-6 col-sm-4 img-responsive">
        <!-- </div> -->
    </div>
