@import url('signin.css');

#header{margin-top:20px;}
#page-container{margin-bottom:20px;}
#url-rewriting-warning {display: none;}
.logo {
    padding: 2px 15px;
    display: block;
}

.social-media {
    /*padding-right: 15px;*/
    font-size: 54px;
    color: #0A3A88;
}

.social-media a {
    text-align: center;
    display: inline-block;
}

.social-media a:hover {
    text-decoration: none;
    cursor: pointer;
}

.sponsors {
    text-align: center;
}

.sponsors img{
    margin-top: 10px;
}

.twitter-widget, .sponsors {
    margin-top: 10px;
    margin-bottom: 20px;
}

form .required label:after {
    content: '*';
    color: red;
}

table th.actions {
    min-width: 180px;
    width: 180px;
}

table th.actions2 {
    min-width: 80px;
    width: 80px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #e7e7e7;
    background-color: #5575cc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #e7e7e7;
    background-color: #5575cc;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #728fd3;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #5575cc;
}

.carousel-inner {
    max-height: 400px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
