<p>Clique no link abaixo para criar sua nova senha</p><br/>

<a href="<?php echo $ms; ?>">Clique aqui para criar uma nova senha</a><br/>

<pre>ou visite o link</pre><br/>

<p><a href="<?php echo $ms; ?>"><?php echo $ms; ?></a></p>
